<div class="container mx-auto p-8">
    <!-- Seção expandida -->
    <div class="expanded-container hidden">
        <div class="container mx-auto p-6">
            <!-- Cards Expandidos -->
            <div class="grid grid-cols-1 gap-6 justify-items-center bg-white">
                <% for (let i=0; i < eventos.length; i++) { %>

           

                    

                    <div class="border-r-8 expanded-card w-full rounded overflow-hidden shadow-2xl border bg-white border-white flex hidden z-10"
                        data-id="<%= eventos[i].id %>">
                        <!-- Imagem à esquerda com tamanho um pouco reduzido -->
                        <img class="w-1/3 h-64 object-cover" src="/imagens/<%= eventos[i].midia %>"
                            alt="Imagem do evento <%= eventos[i].nome_evento %>" />

                        <!-- Informações do evento à direita -->
                        <div class="flex-grow p-6">
                            <!-- Título do evento -->
                            <div class="font-bold text-black text-3xl mb-3">
                                <%= eventos[i].nome_evento %>
                            </div>

                            <!-- Descrição do evento, com alinhamento à esquerda -->
                            <p class="text-gray-700 text-lg mb-3 text-left">
                                <%= eventos[i].descricao_evento %>
                            </p>

                            <!-- Links e redes sociais -->
                            <div class="pt-2 pb-2 flex items-center space-x-4">
                                <a href="<%= eventos[i].local %>"
                                    class="text-blue-500 hover:text-red-500 hover:underline flex items-center text-base transition-colors duration-300">
                                    <img class="w-6 h-6 transition-colors duration-300 hover:text-red-500"
                                        src="https://cdn.icon-icons.com/icons2/2622/PNG/512/brand_google_maps_icon_157937.png"
                                        alt="Google Maps" />
                                    <span class="ml-2 hover:text-red-500">Ver no mapa</span>
                                </a>
                                <a href="<%= eventos[i].insta %>"
                                    class="text-black hover:text-red-500 hover:underline flex items-center text-base transition-colors duration-300">
                                    <img class="w-6 h-6 transition-colors duration-300 hover:text-red-500"
                                        src="https://static.vecteezy.com/system/resources/previews/018/930/473/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"
                                        alt="Instagram" />
                                    <span class="ml-2 hover:text-red-500">@Instagram</span>
                                </a>
                            </div>

                            <!-- Preço do evento -->
                            <div class="py-3 flex items-center space-x-4">
                                <span class="text-xl font-bold text-green-600">R$ <%= eventos[i].ingresso %></span>
                            </div>

                            <!-- Botão de voltar e apagar evento -->
                            <div class="pt-2 pb-2 flex items-center space-x-4">
                                <button class="collapse-button mt-4 bg-red-700 text-white px-4 py-2 rounded hover:bg-red-800 transition-colors duration-300">
                                    Voltar
                                </button>

                                <% if (eventos[i].id_usuario == usuarioAtual.id) { %>
                                    <a href="/apagar/<%= eventos[i].id %>" class="text-red-500 hover:text-red-700 transition-colors duration-300">
                                        <img class="h-6 w-6 opacity-90" src="https://img.icons8.com/?size=100&id=84930&format=png&color=000000" alt="">    
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>

            </div>
        </div>
    </div>

    <!-- Cards do evento -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center">
        <% for (let i=0; i < eventos.length; i++) { %>
            <div class="card bg-white rounded shadow-lg mx-2 my-4 w-80 transition-transform duration-300 hover:translate-y-[-0.5rem] hover:shadow-red-500"
                data-id="<%= eventos[i].id %>">
                <div class="p-6 text-sm relative text-left">
                    <!-- Título do evento -->
                    <h1 class="text-lg font-bold mb-2">
                        <%= eventos[i].nome_evento %>
                    </h1>

                    <!-- Imagem do evento -->
                    <img class="w-full h-48 object-cover rounded mb-4" src="/imagens/<%= eventos[i].midia %>"
                        alt="Imagem do evento <%= eventos[i].nome_evento %>" />

                    <!-- Descrição do evento -->
                    <div class="overflow-hidden max-h-20 mb-4">
                        <p class="text-left text-base">
                            <%= eventos[i].descricao_evento.length > 100 ? eventos[i].descricao_evento.substring(0, 100) + '...' : eventos[i].descricao_evento %>
                        </p>
                    </div>

                    <!-- Preço do evento -->
                    <div class="absolute bottom-4 right-4">
                        <span class="text-lg font-bold text-green-700">R$ <%= eventos[i].ingresso %></span>
                    </div>

                    <!-- Links de redes sociais -->
                    <div class="flex space-x-2 mt-4">
                        <a href="<%= eventos[i].insta %>" class="transition-opacity duration-300 hover:opacity-80">
                            <img class="w-6 h-6 transition-colors duration-300 hover:text-red-500"
                                src="https://static.vecteezy.com/system/resources/previews/018/930/473/non_2x/instagram-logo-instagram-icon-transparent-free-png.png"
                                alt="Instagram" />
                        </a>
                        <a href="<%= eventos[i].local %>" class="transition-opacity duration-300 hover:opacity-80">
                            <img class="w-6 h-6 transition-colors duration-300 hover:text-red-500"
                                src="https://cdn.icon-icons.com/icons2/2622/PNG/512/brand_google_maps_icon_157937.png"
                                alt="Google Maps" />
                        </a>

                        <!-- Verificação se o usuário logado criou o evento -->
                        <% if (eventos[i].id_usuario == usuarioAtual.id) { %>
                            <a href="/apagar/<%= eventos[i].id %>" class="text-red-500 hover:text-red-700 transition-colors duration-300">
                                <img class="h-6 w-6 opacity-90" src="https://img.icons8.com/?size=100&id=84930&format=png&color=000000" alt="">
                            </a>
                        <% } %>
                    </div>

                    <!-- Botão de expandir o card -->
                    <button class="expand-button mt-4 bg-red-700 text-white px-4 py-2 rounded shadow-md hover:bg-red-800 transition-colors duration-300"
                        data-id="<%= eventos[i].id %>">
                        Expandir
                    </button>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script>
    document.querySelectorAll(".expand-button").forEach((button) => {
        button.addEventListener("click", () => {
            const eventId = button.getAttribute("data-id");
            document.querySelectorAll(".card").forEach((card) => {
                if (card.querySelector(".expand-button").getAttribute("data-id") === eventId) {
                    card.classList.add("hidden");
                    const expandedCard = document.querySelector(`.expanded-card[data-id="${eventId}"]`);
                    expandedCard.classList.remove("hidden");
                    expandedCard.classList.add("expanded");
                    document.querySelector(".expanded-container").classList.remove("hidden");
                }
            });
        });
    });

    document.querySelectorAll(".collapse-button").forEach((button) => {
        button.addEventListener("click", () => {
            const eventId = button.closest(".expanded-card").getAttribute("data-id");
            const expandedCard = document.querySelector(`.expanded-card[data-id="${eventId}"]`);
            expandedCard.classList.add("hidden");
            expandedCard.classList.remove("expanded");
            document.querySelector(`.card[data-id="${eventId}"]`).classList.remove("hidden");
        });
    });
</script>
