<style>
    a {
        font-family: Roboto, sans-serif;
    }

    /* Estilo personalizado para centralizar os botões */
    .center-buttons {
        justify-content: center;
    }

    /* Estilo para melhorar a estética */
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Estilo para o hover dos botões */
    button:hover {
        transition: all 0.3s ease;
    }
</style>

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div>

</div>

<div class="flex p-6 space-x-6">
    <!-- Tópicos -->
    <div class="w-3/12">
        <%- include('topico') %>
    </div>

    <!-- Postagens -->
    <div class="w-9/12 flex flex-col items-center mb-80 space-y-12"> <!-- Ajuste no espaçamento -->
        <% for (let j = 0; j < postagens.length; j++) { %>
            <% const userPost = usuarios.find(user => user.id === postagens[j].usuario_id); %>
            <% if (userPost) { %>
                <!-- Cartão da Postagem -->
                <div class="card w-full max-w-md rounded-lg overflow-hidden bg-white mb-16" id="<%= postagens[j].id_post%>">
                    <!-- Informações do Usuário -->
                    <div class="flex items-center p-4 bg-white">
                        <img class="w-12 h-12 rounded-full mr-4" src="/imagens/<%= userPost.img %>" alt="User Avatar">
                        <h2 class="text-lg font-bold text-gray-800"><%= userPost.nome %></h2>
                    </div>

                    <!-- Postagem -->
                    <img class="w-full h-48 object-cover" src="/imagens/<%= postagens[j].midia %>" alt="User Image">
                    <div class="p-4">
                        <p class="text-gray-700 text-base mb-4">
                            <%= postagens[j].descricao %>
                        </p>

                        <!-- Botões de Ação (Responder e Desafiar) -->
                        <div class="flex center-buttons space-x-4 mt-4">
                            <!-- Botão Responder -->
                            <form action="resposta/cadastro" method="POST" class="flex items-center space-x-2">
                                <input type="hidden" name="postagem_id" value="<%= postagens[j].id_post %>">
                                <button type="submit" class="bg-red-700 text-white hover:bg-red-600 flex items-center space-x-1 py-2 px-4 rounded transition ease-in-out">
                                    <i class="fas fa-comment-alt fa-lg"></i>
                                    <span class="text-lg">Responder</span>
                                </button>
                            </form>

                            <!-- Botão Desafiar -->
                            <% if (usuarioAtual.id !== userPost.id && userPost.categoria === usuarioAtual.categoria && userPost.lvl_profissional === usuarioAtual.lvl_profissional) { %>
                                <form action="/desafio" method="POST">
                                    <input type="hidden" name="usuario_desafiante" value="<%= usuarioAtual.id %>">
                                    <input type="hidden" name="usuario_desafiado" value="<%= userPost.id %>">
                                    <input type="hidden" name="id_postagem" value="<%= postagens[j].id_post %>">
                                    
                                    <button type="submit" class="bg-red-700 text-white py-2 px-4 rounded hover:bg-red-800 flex items-center transition ease-in-out">
                                        <img class="h-8 mr-2" src="https://img.icons8.com/?size=100&id=I52mk75ad1aJ&format=png&color=FFFFFF" alt="">
                                        Desafiar
                                    </button>
                                </form>
                            <% } %>
                        </div>

                        <!-- Exibe Desafio se houver -->
                        <% const desafioExistente = desafios.find(d => d.usuario_desafiado === userPost.id && d.id_postagem === postagens[j].id_post); %>
                        <% if (desafioExistente) { %>
                            <div class="mt-4 bg-gray-800 p-4 rounded-lg shadow-lg text-center">
                                <p class="text-red-600 font-bold">
                                    <%= usuarios.find(user => user.id === desafioExistente.usuario_desafiante).nome %> desafiou <%= userPost.nome %>
                                </p>

                                <% if (desafioExistente.estado === 'pendente') { %>
                                    <!-- Botões Aceitar ou Recusar -->
                                    <% if (usuarioAtual.id === userPost.id) { %>
                                        <form action="/desafio/resposta" method="POST">
                                            <input type="hidden" name="desafio_id" value="<%= desafioExistente.id_desafio %>">
                                            <input type="hidden" name="notificacao_id" value="<%= desafioExistente.notificacao_id %>">
                                            <button type="submit" name="resposta" value="aceitar" class="bg-green-500 text-white py-1 px-3 rounded transition ease-in-out">Aceitar</button>
                                            <button type="submit" name="resposta" value="negar" class="bg-red-700 text-white py-1 px-3 rounded hover:bg-red-600 transition ease-in-out">Negar</button>
                                        </form>
                                    <% } %>
                                <% } else { %>
                                    <!-- Resultado do Desafio -->
                                    <div class="mt-2 p-4 rounded-lg text-center bg-gray-800 shadow-lg">
                                        <p class="text-red-600 font-bold">
                                            O usuário <%= userPost.nome %> <%= desafioExistente.estado === 'aceito' ? 'aceitou' : 'recusou' %> o desafio de <%= usuarios.find(user => user.id === desafioExistente.usuario_desafiante).nome %>.
                                        </p>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>

                        <!-- Seção de Respostas -->
                        <div class="mt-6">
                            <h3 class="text-lg font-bold mb-2 text-gray-900">Respostas</h3>
                            <div class="comentarios-list hidden" id="comentarios-<%= postagens[j].id_post %>">
                                <% let displayedComments = 0; %>
                                <% for (let x = 0; x < resposta.length; x++) { 
                                    if (postagens[j].id_post == resposta[x].postagem_id) { 
                                        if (displayedComments < 5) { %>
                                            <div class="flex items-start bg-gray-100 p-3 rounded-lg mb-2 shadow-sm">
                                                <img class="w-10 h-10 rounded-full mr-3" src="/imagens/<%= usuarios.find(user => user.id === resposta[x].usuario_id).img %>" alt="User Avatar">
                                                <div>
                                                    <p class="text-gray-800 font-bold"><%= usuarios.find(user => user.id === resposta[x].usuario_id).nome %></p>
                                                    <p class="text-gray-700"><%= resposta[x].conteudo %></p>
                                                </div>
                                            </div>
                                            <% displayedComments++; 
                                        } 
                                    } 
                                } %>
                            </div>

                            <!-- Botões Mostrar Comentários -->
                            <div class="flex justify-center space-x-2 mt-4">
                                <button class="mostrar-comentarios bg-red-700 text-white hover:bg-red-600 py-2 px-4 rounded transition ease-in-out" data-postagem-id="<%= postagens[j].id_post %>">
                                    Mostrar Comentários
                                </button>
                            </div>

                            <!-- Botões Mostrar Mais/Menos -->
                            <div class="flex justify-center space-x-2 hidden" id="show-more-less-<%= postagens[j].id_post %>">
                                <button class="mostrar-mais bg-red-700 text-white hover:bg-red-600 py-2 px-4 rounded transition ease-in-out" data-postagem-id="<%= postagens[j].id_post %>" data-display-count="<%= displayedComments %>">
                                    Mostrar Mais
                                </button>
                                <button class="mostrar-menos bg-red-700 text-white hover:bg-red-600 py-2 px-4 rounded hidden transition ease-in-out" data-postagem-id="<%= postagens[j].id_post %>">
                                    Mostrar Menos
                                </button>
                                <button class="nao-mostrar-comentarios bg-red-700 text-white hover:bg-red-600 py-2 px-4 rounded hidden transition ease-in-out" data-postagem-id="<%= postagens[j].id_post %>">
                                    Não Mostrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</div>

<script>
    // Faz uma requisição para buscar os desafios recentes
    fetch('/desafio/recentes')
        .then(response => response.json())
        .then(data => {
            if (data.length > 0) {
                const listaDesafios = document.getElementById('lista-desafios');
                data.forEach(desafio => {
                    const li = document.createElement('li');
                    li.textContent = desafio;
                    listaDesafios.appendChild(li);
                });

                // Mostra a div de desafios recentes
                document.getElementById('desafios-recentes').classList.remove('hidden');
            }
        });

    // Função para mostrar e ocultar comentários
    document.querySelectorAll('.mostrar-comentarios').forEach(button => {
        button.addEventListener('click', function () {
            const postagemId = this.dataset.postagemId;
            const comentariosList = document.getElementById(`comentarios-${postagemId}`);
            comentariosList.classList.remove('hidden'); // Mostra os comentários
            this.style.display = 'none'; // Oculta o botão "Mostrar Comentários"

            const showMoreLess = document.getElementById(`show-more-less-${postagemId}`);
            showMoreLess.classList.remove('hidden'); // Mostra os botões de mais e menos
        });
    });

    // Função para mostrar mais ou menos comentários
    document.querySelectorAll('.mostrar-mais').forEach(button => {
        button.addEventListener('click', function () {
            const postagemId = this.dataset.postagemId;
            const comentariosList = document.getElementById(`comentarios-${postagemId}`);
            const displayCount = parseInt(this.dataset.displayCount);

            const totalComments = comentariosList.children.length; // Total de comentários

            for (let i = displayCount; i < displayCount + 5 && i < totalComments; i++) {
                comentariosList.children[i].style.display = 'block'; // Mostra os comentários
            }

            this.dataset.displayCount = displayCount + 5; // Atualiza o contador
        });
    });

    // Função para mostrar menos comentários
    document.querySelectorAll('.mostrar-menos').forEach(button => {
        button.addEventListener('click', function () {
            const postagemId = this.dataset.postagemId;
            const comentariosList = document.getElementById(`comentarios-${postagemId}`);
            const displayCount = parseInt(this.dataset.displayCount);

            for (let i = displayCount - 1; i >= Math.max(displayCount - 5, 0); i--) {
                comentariosList.children[i].style.display = 'none'; // Oculta os comentários
            }

            this.dataset.displayCount = displayCount - 5; // Atualiza o contador
        });
    });

    // Função para ocultar comentários
    document.querySelectorAll('.nao-mostrar-comentarios').forEach(button => {
        button.addEventListener('click', function () {
            const postagemId = this.dataset.postagemId;
            const comentariosList = document.getElementById(`comentarios-${postagemId}`);
            comentariosList.classList.add('hidden'); // Oculta os comentários
            this.style.display = 'none'; // Oculta o botão "Não Mostrar"
            document.querySelector(`.mostrar-comentarios[data-postagem-id="${postagemId}"]`).style.display = 'block'; // Mostra o botão "Mostrar Comentários"
        });
    });
</script>
